body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
}

table {
    border-collapse: collapse;
    width: 60%;
}

th {
    background-color: steelblue;
    color: white;
}

td,
th {
    padding: 10px;
    text-align: center;
}

h2 {
    color: darkblue;
}