.container{
    width: 450px;
    margin: 40px auto;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #f4f4f4;
    text-align: left;
}

h1{
    text-align:center;
    color:blue;
}

p{
    font-size:18px;
    margin:10px 0;
}